<div class="note-card">
    <mat-card class="cards" >
     <div class="todelete"  (click)="openEditNoteView()">  
        <mat-card-title>{{note.noteTitle}}</mat-card-title>
        <mat-card-content>{{note.noteContent}}</mat-card-content>
        <mat-card-content>{{note.noteStatus}}</mat-card-content>
       
       
    </div>   
    <span class="glyphicon glyphicon-trash " (click)="deleteNote()"></span>
        <!-- <span class="glyphicon glyphicon-edit edit" (click)="openEditNoteView()"></span> -->
    </mat-card>
    
</div>